/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body {
  line-height: 1.5;
  font-family: Cantarell,'Crimson Text', Arial, Helvetica, sans-serif;
  color: #535252;
  font-size: 87.5%;
}

/* line 58, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h1 {
  font-weight: normal;
  color: #757474;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h1 img {
  margin: 0;
}

/* line 65, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h2 {
  font-weight: normal;
  color: #757474;
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h3 {
  font-weight: normal;
  color: #757474;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 74, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h4 {
  font-weight: normal;
  color: #757474;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 79, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h5 {
  font-weight: normal;
  color: #757474;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 84, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h6 {
  font-weight: normal;
  color: #757474;
  font-size: 1em;
  font-weight: bold;
}

/* line 88, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 90, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 100, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
a {
  text-decoration: underline;
  color: #c22b30;
}
/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:visited {
  color: #8f0000;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:focus {
  color: black;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover {
  color: black;
}
/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:active {
  color: #ff2b30;
}

/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 107, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
strong {
  font-weight: bold;
}

/* line 109, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
em {
  font-style: italic;
}

/* line 111, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
sup, sub {
  line-height: 0;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666;
}

/* line 118, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 121, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
del {
  color: #666;
}

/* line 123, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 126, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* line 129, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
li ul, li ol {
  margin: 0;
}

/* line 131, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 134, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ul {
  list-style-type: disc;
}

/* line 136, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ol {
  list-style-type: decimal;
}

/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dl dt {
  font-weight: bold;
}

/* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dd {
  margin-left: 1.5em;
}

/* line 144, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
th {
  font-weight: bold;
}

/* line 149, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
thead th {
  background: #c3d9ff;
}

/* line 151, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 153, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
tr.even td {
  background: #e5ecf9;
}

/* line 155, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
tfoot {
  font-style: italic;
}

/* line 157, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
caption {
  background: #eee;
}

/* line 159, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
.quiet {
  color: #757474;
}

/* line 161, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
.loud {
  color: #424141;
}

/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}

/* line 39, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
div.border {
  border-width: 1px 0px 1px 0px;
  border-style: dashed;
  border-color: #dbdada;
}

/* line 42, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
div.colborder {
  padding-right: 44px;
  margin-right: 45px;
  border-right: 1px solid #eeeeee;
}

/* line 44, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}

/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.inline p {
  margin-bottom: 0;
}

/* line 10, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
body {
  display: block;
  width: 1200px;
}
/* line 14, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
body a {
  text-decoration: none;
  font-weight: bold;
}
/* line 17, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
body a:hover {
  color: #c22b30;
}

/* line 20, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#de_unges_forbund {
  padding: 60px 60px 50px 140px;
  color: #c22b30;
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/DUF_logo.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 28, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets,
#oldtweets {
  margin: 0px;
  padding: 0px;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
#newtweets li,
#oldtweets li {
  list-style-type: none;
  margin-left: 0px;
}
/* line 33, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li,
#oldtweets li {
  padding: 0;
  margin: 0 10px 5px;
  overflow: hidden;
  line-height: 18px;
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: #dbdada;
}
/* line 40, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li a,
#oldtweets li a {
  color: #424141;
}
/* line 42, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li a:hover,
#oldtweets li a:hover {
  background: #c22b30;
  color: white;
}
/* line 46, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li .date,
#oldtweets li .date {
  display: block;
  font-weight: normal;
  font-size: 10px;
  color: #424141;
  padding: 0 0 10px 0;
}
/* line 53, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li .date:hover,
#oldtweets li .date:hover {
  background: none;
  color: #c22b30;
}
/* line 57, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li .profile a,
#oldtweets li .profile a {
  color: #c22b30;
}
/* line 59, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li .profile a:hover,
#oldtweets li .profile a:hover {
  background: #c22b30;
  color: white;
}
/* line 62, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#newtweets li .profile img,
#oldtweets li .profile img {
  width: 48px;
  float: left;
  padding: 0 10px 0 0;
  border: 0px;
  margin: 5px 0 15px;
}

/* line 71, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#main,
#sidebar {
  clear: none;
}

/* line 76, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#main {
  width: 600px;
  display: inline;
  float: left;
}

/* line 81, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#sidebar {
  width: 400px;
  display: inline;
  float: left;
  text-align: right;
}
/* line 85, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#sidebar #intro {
  width: 165px;
  margin: 80px 0px 0 54px;
  text-align: right;
}
/* line 90, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#sidebar ul {
  margin: 0 30px 0 10px;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
#sidebar ul li {
  list-style-type: none;
  margin-left: 0px;
}
/* line 94, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#sidebar ul li.active a {
  color: white;
}
/* line 98, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#sidebar a {
  color: #424141;
  font-weight: bold;
}
/* line 101, ../../sass/screen (mario's mac's conflicted copy 2010-06-11).sass */
#sidebar a:hover {
  color: #c22b30;
}
